body {
    font-family: 'Roboto', sans-serif;
    background-color: #310062;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.3;
    color: black;
  }

  .section-title {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }
  
* {
    box-sizing: border-box;
  }

  /* .header,.main,.footer {
    border: 1px solid black;
  } */

  .container {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
  }

  .nav-link:hover {
    color: brown;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .foto-profile {
    width: 50%;
    border-radius: 10px;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-footer {
    display: flex;
  }

  .logo-rss {
    width: 30%;
    border-radius: 5%;
  }

  .github-name {
    padding-left: 45px;
  }

  header {
    background-color: yellow;
  }

  footer {
    background-color: yellow;
  }

